.tabs {
    margin-bottom: 0;
    padding: 0;
    padding-bottom: 1px;
    list-style: none;
    @include clearfix;
    li {
    position: relative;
    display: block;
    float: left;
    cursor: pointer;
    }
  }
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}
.team-member {
  text-align: center;
  &__name {
    display: block;
  }
  &__title {
    @extend .team-member__name;
  }

}