#sponsor .item {
    margin: 3px;
}

#sponsor .item {
    padding: 0 20px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

#reviews {
    max-width: 580px;
    margin: 0 auto;
    text-align: center;
}

h5.reviews {
    margin-top: 25px;
    line-height: 50px;
    &:before {
        content: "";
        height: 3px;
        width: 170px;
        background: $link-color;
        display: block;
        margin: 0 auto;
    }
}

#reviews .item {
    display: block;
    width: 100%;
    height: auto;
}

#reviews .owl-page {
    display: inline-block;
}

#reviews .owl-page span {
    display: block;
    width: 5px;
    height: 5px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    background: $brand-inverse-color;
}

#reviews .owl-page span:hover,
#reviews .owl-pagination .active span {
    background: $link-color;
}

.customNavigation {
    text-align: center;
}

//use styles below to disable ugly selection
.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */


/* clearfix */

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.prev,
.next {
    width: 31px;
    height: 31px;
    display: inline-block;
    color: $brand-inverse-color;
    background: $link-color;
    line-height: 31px;
    font-size: 11px;
    margin: 50px 15px 0;
    cursor: pointer;
    text-decoration: none;
}

.prev:hover,
.next:hover {
    text-decoration: none;
}


/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
