.holder{
}
.block {
	position: relative;
	padding: 30px 0;
	&--no-padding{
		padding: 0; 
	}
	&--height {
		height: 100vh;
	}
	&--dark {
		background-color: $brand-bg-color;
		color: $brand-inverse-color;
	}
	&--darken {
		background-color: $brand-darken-bg-color;
		color: $brand-inverse-color;
	}
	&--light {
		background-color: $brand-lighter-color;
	}
	&--footer {
		color: $brand-inverse-color;
		background-color: $brand-color;
	}
	&--tab-content {
		@extend .block--footer;
	}
}
/* for exmple */ 
/* *********************** */
.valign{ 
	margin-top: 15%;
	
}
/* *********************** */




.bottom-border {
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 100%;
		left: 10%;
		height: 3px;
		width: 80%;
		background-color: $brand-elements-color;
	}
}
.gold {
	color: $brand-elements-color;
}
.container-wrapper{
	width: 100%;
	background: #2a262a;
	&--navbar{
		padding: 15px 0;
	} 
}
.btn--down,.btn--up{ 
	position: absolute;
	bottom: 0;
	left: 50%;
	.btn {
		margin-left: -50%;
	}
}