.social{
	margin-bottom: 30px;
	&__list{

		&__item{
			display: inline-block;
			padding: 0 10px;
			&__link{
				color: $brand-inverse-color;
			}
			&__link:hover{
				color: $link-color ;
			}
		}
	}
}