@mixin button-variant($color, $background) {
  color: $color;
  background-color: $background;
  text-decoration: none;
  &:hover {
  	background-image: none;
    background-color: darken($button-bg-color, 5%);
  }
  &:active {
    outline: 0;
    background-image: none;
    background-color: darken($button-bg-color, 8%);
    box-shadow: inset -3px 5px 8px rgba(0,0,0,.2)
     }
}
